.game-wrapper {
  -webkit-perspective: 600px;
  transform: translate3d(0, 0, 0);
  perspective: 600px;
  text-align: center;
  position: relative;
  margin-top: -15px;
  margin-bottom: 20px;

  .table {
    transform-style: preserve-3d;
    outline: solid 1px transparent;
    margin: 0px auto 0px auto;
    min-height: 142px;
    padding: 15px 15px 22px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 700;
    position: relative;
    white-space: nowrap;
    transform: scale(0.8);

    &-edge {
      margin: 0 auto 10px auto;
      background: #684e75;
      height: 15px;
      transform: rotateX(-40deg);
      transform-origin: top;
      z-index: 200;
      width: 62vw;
    }

    &-leg {
      width: 24px;
      height: 10px;
      background: #beb9b9;
      position: absolute;
      top: 15px;

      &:first-child {
        left: 20px;
      }

      &:last-child {
        right: 20px;
      }
    }

    &-wrapper {
      transform: rotateX(20deg);
      min-height: 142px;
      transform-origin: bottom;
      z-index: 800;
      position: relative;
      margin: 10px auto 0 auto;
      width: 62vw;
    }

    &-surface {
      box-shadow: 0px 40px 10px rgba(0, 0, 0, .2);
      background: #9656b9;
      background: -webkit-linear-gradient(#d9d395, #674172);
      background: linear-gradient(#b0b487, #4d255b);
      position: absolute;
      height: 100%;
      bottom: 0;
      width: 100%;
    }
  }

  .strobe {
    transform-origin: bottom;
    animation: strobeStart .5s ease-out, strobe 1s infinite;
    animation-delay: 0s, .5s;
  }

  .clean {
    animation: cleanme .4s 1;
    transform: translateY(-600px);
  }

  #level3FirstPlate, #level5ThirdPlate, #level10SeventhPlate {
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: calc(50% - 47px);
      top: calc(50% - 44px);
      height: 68px;
      width: 74px;
      border-radius: 60px;
      border: solid 10px #853cc7;
      opacity: .4;
    }
  }

  @keyframes cleanMe {
    0% {
      transform: translateY(0px) rotate3d(0, 0, 0, 0deg);
    }
    100% {
      transform: translateY(-600px) rotate3d(0, 0, 0, 0deg);
    }
  }

  @keyframes strobeStart {
    0% {
      transform: scaleY(1);
      animation-timing-function: ease-in;
    }
    40%, 100% {
      transform: scaleY(.8);
      animation-timing-function: ease-out;
    }
  }

  @keyframes strobe {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.8);
    }
  }

  .data {
    &.active {
      &::after {
        display: grid;
        justify-content: center;
        align-content: center;
        content: attr(data-title);
        position: absolute;
        left: 4vw;
        top: -15vw;
        width: 15vw;
        height: 5vw;
        background: rgba(255, 255, 230, 0.9);
        font-family: Arial, sans-serif;
        font-size: 2vw;
        padding: 0.5vw 1.5vw;
        border: 0.2vw solid #333;
        color: black;
        transform: rotateX(-20deg);
        transform-style: flat;
      }
    }
  }

  bento,
  plate,
  apple,
  orange,
  pickle {
    transition: transform ease-out .2s;
    display: inline-block;
    margin: 0 10px;
  }

  bento,
  plate {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 0 10px;
    box-shadow: 0 15px 0 rgba(0, 0, 0, 0.1);
  }

  plate {
    border-radius: 100px;
    background-color: #fffac4;
    border-bottom: 5px solid #fdfd6d;
  }

  plate:before,
  orange:before,
  apple:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
  }

  plate:before {
    width: 65px;
    height: 65px;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    border-top: 6px solid #ccc;
  }

  orange,
  apple {
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
    height: 60px;
  }

  orange,
  apple,
  pickle {
    height: 60px;
  }

  orange,
  apple,
  pickle,
  bento,
  plate {
    position: relative;
  }

  orange,
  apple {
    background-color: #ff0000;
    border-color: #7e0000;
    border-radius: 100px;
    border-style: solid;
    border-width: 2px 4px 15px 4px;
    width: 60px;
    margin: 20px 10px;
  }

  orange {
    background-color: #f88000;
    border-color: #9a8420;
  }

  bento {
    height: 100px;
    background-color: #2aa588;
    border: 20px solid #138c58;
    border-width: 20px 2px;
  }

  pickle {
    background-color: #179837;
    width: 25px;
    border-radius: 30px;
    border: 2px solid #025a18;
    border-width: 2px 2px 9px 2px;
    height: 60px;
    margin: 20px 10px;
  }

  .pickle.small {
    height: 40px;
    width: 18px;
    border-width: 1px 2px 6px 2px;
    margin: 30px 10px;
  }

  .plate > .pickle:only-child,
  .bento > .pickle:only-child,
  .plate > .pickle.small:only-child,
  .bento > .pickle.small:only-child {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    position: absolute;
  }

  .plate > .pickle:only-child {
    margin: 0;
  }

  .plate > .pickle.small:only-child,
  .bento > .pickle.small:only-child {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
