.progress {
  background-color: white;
}

.level {
  padding-top: 1vw;
  display: grid;
  height: 42vw;
  grid-template-columns: 3vw 27vw;
  width: 30vw;
  grid-template-rows: repeat(10, 4.5vw);

  li {
    list-style-type: none;
    font-size: 3vw;
    cursor: pointer;
    &:hover {
      background: #3d2222;
    }
  }

  & > span {
    position: relative;

    &:after {
      content: '\2713';
      font-size: 3vw;
      position: absolute;
      top: 5px;
    }

    &.checked {
      &:after {
        color: #48ff00;
      }
    }

    &.helped {
      &:after {
        background-color: rgba(255, 242, 0, 0.23);
      }
    }
  }
}

.reset-progress {
  display: block;
  background-color: transparent;
  border: 1px solid #bdbdbd;
  width: 95%;
  height: 5vw;
  color: #9a9a9a;
  font-size: 2vw;
  transition: 0.2s ease-in-out;
  border-radius: 1vw;
  margin: 5vw auto 0;

  &:hover {
    background-color: #5e3535;
  }

  &:active {
    background-color: #23961b;
    color: #efefef;
    transform: scale(0.99);
    border: 1px solid #23961b;
  }

}